<h1>hi</h1>

<%= react_component("SkillSearchContainer") %>
<%= react_component("UserSearchContainer", {:users => @users.to_json}) %>
<%= react_component("PostsContainer", {:controller => @controller.to_json}) %>