<!-- functionality showing alert message if user has not filled in bio  -->
<% if @user.bio.blank? %>
  <p>Welcome to Lemon Drop. Please don't forget to fill out your profile so other can stay connected with you.</p>
<% end %>
<%= react_component("ProfileContainer", {:controller => @controller.to_json}) %>
<%= react_component("TwitterContainer", {:controller => @controller.to_json}) %>


