body {
  margin: 0;
}


p {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}s

a {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.button {
  position: relative;
  bottom: 20px;
  left: 740px;
  margin-left: 10px;
  border: none;
  background-color: #3498db;

}


header.navbar-inverse {
  border-radius: 0px;
  width: 100%;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  border-color: transparent;
  float: right;
}
img.icon{
  float: left;
  width: 70px;
  position: relative;
  bottom: 13px;
}
a.header-button{
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50%;
  
}


#user-search {
  display: inline-block;
}



#searches {


  #user-search-field {
    text-align: center;
    margin: 10px 0 10px 20px;
    width: 220px;
  }
  .skill-search {
    margin: 10px 0 10px 20px;
    #skill-form {
      width: 220px;

    }
  }
  .all-users {
    text-align: center;

    .user {
      display: inline-block;
      padding: 5px;
      width: 120px;
      height: 120px;
      text-align: center;

      img {
        text-align: center;
        max-width: 100px;
        height: auto;
      }

    }
    
  }
  
}


.posts-create-form {
  margin: 0 20px 0 20px;
  border-top: 1px solid #eee;
}

.posts-tag-search {
  margin: 10px 0 0 20px;
  padding-right: 20px;

  .tag-search-box {
    width: 100%;
    border: none;
    box-shadow: none;
  }
}
.form-field {
  background-color: #fff;
  height: 140px;
}
#post-text-form {
  display: inline-block;
  border: none;
  width: 78%;
  height: 80px;
}
.create-button {
    bottom: 35px;
  }
.divider {
  display: inline-block;
  border-left: 1px solid #eee;
  margin: 5px;
  height: 77px;

}
#post-tag-form {
  float: right;
  border: none;
  box-shadow: none;
  width: 20%;
  height: 40px;
}

.user_post_image {
  margin: 0px;
  width: 80px;
  height: 80px;
}
.each-post {
  margin: 10px 0 10px 0;
  width: 100%;
  padding: 10px 0 20px 0;
  background-color: #fff;

  .posts_stuff {
    display: inline-block;
    width: 100%;
  }
  .img_vote {
    position: relative;
    top: -10px;
    background: white;
    padding: 0px;
    margin: 20px;
    width: 12%;
  }
  .vote-button {
    border: none;
    background-color: #fbd334;
  }
  .delete-button {
    border: none;
    background-color: #555;
    color: #fff;
  }
  .content_tag {
    position: relative;
    top: -13px;
    width: 80%;

    .post_content {
      padding: 0 0 0 10px;
      margin: 0 0 20px 0;
      width: 100%;
      height: 100px;
    }
    .post_tags {
      position: relative;
      padding: 0 0 0 10px;
    }
    .post-time {
      font-size: 10px;
    }
  }
  .comment {
    margin: 0 20px 0 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
   #comment-field {
    margin: 10px 0 0 0; 
  }
  #comment-area {
    border: none;
    width: 100%;
  }
}
#comments-list {
  margin: 0 20px 0 150px;
  padding: 20px;
  background-color: #ececec;

  h5 {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  .comment-button {
    border: none;
    background-color: #3498db;
  }
}
ul.comment-ul{
  display: inline-flex;
  list-style: none;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
li.comment-li {
  width: 100px;
  margin: 0 10px 0 10px;
}
li.comment-name {
  margin-left: 0px;
  width: inherit;
}
p.vote {
  position: relative;
  top: -5px;
}


input {
  height: 34px;
  padding: 10px 5px 10px 5px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: none;
  margin: 10px 1px 0 1px;
}

#mobile {
  .all-users{
  text-align: center;
  }
  .user {
    margin: 10px 20px 10px 20px;
  }

  #user-search {
   text-align: center;

   #user-search-field {
    width: 257px;
    margin: 10px 0 0 0;
    text-align: center;
   }
  }

  .skill-search {
    text-align: center;
    margin-left: 0px;
    #skill-form {
      width: 257px;
      margin: 10px 0 0 0;
    }
  }

  .form-field {
    background-color: none;
  }

  .create-button {
    position: relative;
    left: 270px;
  }

  #post-tag-form {
    position: relative;
    top: -84px;
    padding: 0 0 0 5px;
    height: 20px;
  }
  .post_content {
    height: 160px;
  }
  .posts_stuff{
    height: 80px;
  }
  .user-name {
    position: relative;
    display: inherit;
    top: -85px;
    left: 90px;
    width: 150px;
  }
  .content_tag {
    width: 90%;
    margin: 0 20px 0 20px;
  }

  #comments-list {
    margin: 0 20px 0 20px;
    padding: 20px;
  }
 
  .comment {
    height: 100px;
  }
  li.comment-li {
    width: 80px;
    margin: 0px;
  }
}

body#color{
  background-color: #ececec;
}
#profile-container{
  padding-top: 40px;
  background-color: white;
  width: 70%;
  position:relative;
  right: 0;
    #name{
      color: black;
      margin-left:30px;
      right: 30px;
      color: black;
      padding-left: 40%;
      position: relative;
      top: -230px;
      
    }
  #picture{
    #pic{
      margin-left:30px;
      position: relative;
      max-width: 250px;
      height: auto;
      border-radius: 5%;

      }
  }
  #basic-info{
    top: -100px;
    color: black;
    text-align: left;
    padding-left: 40%;
    position: relative;
    top: -215px;
    a{
    color: black;
    }
  }
  #social{
  margin-left:30px;
  position: relative;
  top: -130px;
  padding: 20px 20px 20px 0px;
      a {
      padding: 20px 50px 20px 0px;
    }

  }
  #bio{
  margin-left:30px;
  position: relative;
  top: -130px;
  padding: 20px 50px 20px 0px;
   
  }
}
